// Color Variables
$primary-color: #373151;
$text-color: #333;
$error-color: #A52222;
$background-color: #f4f4f4;

// Fonts
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 16px;

// Spacing
$spacing-unit: 12px;
$container-width: 95%;
$max-width: 800px;

//actions
$primary-action-color: $primary-color;
$error-action-color: $error-color;
$success-action-color: #175E17;
$cancel-action-color: #f4f4f4;
$info-action-color: #0C599C;
$warning-action-color : #7A4E00;
